[[extend 'layout.html']]

<div class="section">
   <div class="is-vertical is-mobile has-text-centered">
      <p class="is-size-3">Mission Statment</p>
      <p class="is-size-5">Welcome to WavyWork! Here you can navigate your productivity from the rough seas to the smooth waves. 
         You track the progress of your tasks to use a Kanban board to track your current tasks. You can also use our reflection calendar to see
         how far you have sailed!
      </p>
      <img src="../static/images/image 2.png" class="img-fluid fixed-bottom" alt="Background image" style="height: 100vh; object-fit: cover; object-position: center;">
   </div>
</div>